html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-image 1s ease;
    background-size: cover;
    background-position: center;
    padding: 0; /* Remove padding to avoid misalignment */
}

.profile-container {
    background: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 90%; /* Ensure the container is not wider than screen */
    max-height: 90%; /* Ensure the container is not taller than screen */
    overflow: auto; /* Allow scrolling if content overflows */
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #666;
}

h1, p, .social-links a {
    color: #FFF;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

#toggleMusic {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

#musicIndicator {
    position: fixed;
    bottom: 30px;
    left: 160px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

#musicIndicator.music-paused {
    color: #f44336;
}
#musicIndicator.music-playing {
    color: #4caf50;
}
